.enquiry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url('/images/rm222-mind-26.jpg');
  background-size: cover;
  
  padding: 20px;
}

/* Left Image */
.left-image img {
  width: 450px;
  
  border-radius: 15px;
}

/* Right Form */
.right-form {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
}

.right-form h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.right-form p {
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.form textarea {
  resize: vertical;
  height: 120px;
}

.form button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}
 

@media (max-width:768px) {
  .enquiry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-image: url('/images/rm222-mind-26.jpg');
  background-size: cover;
  
  padding: 20px;
}

/* Left Image */
.left-image img {
  border-radius: 15px;
}

}