.nav-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border-radius: 20px;
  max-width: 90%;
  margin: 10px auto 0 auto;
  position: relative;
}
.hovering {
  color: black;
}
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
  margin: 0;
  color: black;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* =============== MOBILE VIEW =============== */
@media (max-width: 728px) {
  .nav-position {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001;
  }

  .nav-links {
    display: none;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    margin-top: 60px;
    padding: 10px 20px;
    background-color: white; /* or your navbar background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: absolute;
    top: 70px;
    left: 0;
  }

  .nav-links.nav-active {
    display: flex;
  }

  .nav-links a {
    width: 100%;
  }

  .nav-links li {
    text-align: left;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
  }
}
