.track-alt-section {
  padding: 80px 20px;
  color: #090808;
  text-align: center;
}

.track-title {
  font-size: 36px;
  margin-bottom: 50px;
  color: #0a0909;
  font-family: 'sans-serif';
}

.track-grid {
  display: flex;
  gap: 40px;
  justify-items: center;
  overflow-x: scroll;
}

.track-grid::-webkit-scrollbar{
  display: none;
}

.track-item {
  background: #f9f7f7;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
 
  transition: transform 0.3s ease;
  
}

.track-item:hover {
  transform: scale(1.05);
}

.track-icon {
  font-size: 40px;
  margin-bottom: 20px;
  color: #0d0d0e;
}

.track-count {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.track-label {
  font-size: 18px;
  margin-top: 10px;
  color: #080808;
}

@media (max-width:728px) {
  .track-grid {
  flex-direction: row;
  
  justify-items: center;
}
.track-item {
  background: #f9f7f7;
  padding: 30px;
  border-radius: 10px;
 width: 300px;
  transition: transform 0.3s ease;
  
}
}